
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
     margin: 0 auto;
     max-width: 940px;
     padding: 0 5%;
    } 
    
    header {
        floater: left;
        margin: 0 0 30px 0;
        padding: 5px 0 0 0;
        width: 100%;
    }
    
    #logo {
        text-align: center;
        margin: 0;
    }
    
    h1{
        font-family: 'Caveat Brush', cursive;
        margin: 15px 0;
        font-size: 1.75em;
    }
    
    h2 {
        font-size: 0.75em;
        margin: -5px 0 0;
        font-weight: normal;
    }
    
    nav {
        text-align: center;
        padding: 10px 0;
        margin: 20px 0 0;
    }
    
    nav ul {
        list-style: none;
        padding: 10px 0;
        margin: 0 10px;
    }
    
    nav li {
        display: inline-block;
    }
    
    nav a {
        font-weight: 800;
        padding: 15px 10px;
    }
    
    footer {
       font-size: 0.75em;
       text-align: center;
       padding-top: 50px;
       color: #ccc;
       clear: both;
    }
    .social-media-icon {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }
    
    #gallery {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    #gallery li {
        float: left;
        width: 45%;
        margin: 2.5%;
        background-color: lightgrey;
        color: #bdc3c7;
    }
    
    #gallery li a p {
        margin: 0;
        padding: 5%;
        font-size: 0.753m;
        color: black;
    }
    
    .profile-photo {
        display: block;
        max-width: 0 auto 30px;
        border-radius: 15%;
    }
    
    .contact-info{
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0.9em;
    }
    
    .contact-info a {
        display: block;
        min-height: 20px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        padding: 0 0 0 30px;
        margin: 0 0 10px;
    }
    
    .contact-info li.mail a {
        background-image: url('../img/mail.png');
    }
    
    
    
    body {
        background-color: white;
        color: #999;
    }
    
    a {
        color: #81038d;
    }
    
    header {
        background: #0000CC;
    }
    
    h1, h2 {
        color: #fff;
    }
    
    nav {
        background: #000066    }

    nav a, nav a:visited {
        color: #fff;
    }
    
    nav a.selected, nav a:hover {
        color: #2fcbff;
    }

    @media screen and (min-width: 480px) {
        #primary {
            width: 50%;
            float: left;
        }
        
        #secondary {
            width: 40%;
            float: right;
         }
         #gallery li{
             width: 28.3333%;
         }
         #gallery li:nth-child(4n){
             clear: left;
         }
         
         
    }